<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>day0922</display-name>
  <welcome-file-list>
    <welcome-file>menu.jsp</welcome-file>
  </welcome-file-list>
	<!-- 한글처리 필터 선언  -->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
	  	<!-- 클래스가 있는 위치 선언 -->
	  	<filter-class>
	  		org.apache.catalina.filters.SetCharacterEncodingFilter
	  	</filter-class>
	  	<!-- 필터 초기값을 선언 -->
	  	<init-param>
	  		<param-name>encoding</param-name>
	  		<param-value>UTF-8</param-value>
	  	</init-param>
	</filter>
	  <!-- 필터를 어느 jsp 페이지에 적용시킬건지 선언 -->
	<filter-mapping>
	  	<filter-name>Set Character Encoding</filter-name>
	  	<!-- 한글필터를 모든 jsp 에 적용 -->
	  	<url-pattern>/*</url-pattern>		
	</filter-mapping>
</web-app>