<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bigdata.mapper.BoardMapper">

	<!-- 
		BoardMapper.java 인터페이스의 getList()
		추상메서드가 호출되면 select 태그가 실행된다.
		
		> 비교연산자를 태그로 인식하므로
		<![CDATA[ ]]> 로 select문을 둘러싸면 문자열로 인식
	 -->
	<select id="getList" 
			resultType="org.bigdata.domain.BoardVO">
		<![CDATA[
			select * 
			  from tbl_board 
			 where bno > 0
			 order by bno desc
		]]>
	</select>
	
	<!-- 신규 게시물 추가 처리
	    #{속성명} 이렇게 선언하면
	    내부적으로 PreparedStatement가 실행되어
	    값을 대입한다.
	 -->
	<insert id="insert">
		insert into tbl_board(
		          bno,title,
		          content,writer,regdate)
		     values (seq_board.nextval,#{title},
		            #{content},#{writer},sysdate)
	</insert>
	
	<!-- 신규 게시물 추가처리인데
	     게시물을 insert하기전에 지금 추가하려는
	     게시물 번호를 리턴 받을수 있다.	
	-->
	<insert id="insertSelectKey">
		<!-- insert하기전에 먼저 다음 게시물 번호 처리 -->
		<selectKey keyProperty="bno" 
		           order="BEFORE" resultType="long">
			select seq_board.nextval from dual
		</selectKey>
		
		insert into tbl_board(bno,title,
		                      content,writer,regdate)
			 values (#{bno},#{title},
			         #{content},#{writer},sysdate)
	</insert>
	
	<!-- 특정 게시물 상세보기 처리 -->
	<select id="read" resultType="org.bigdata.domain.BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>
	
	<!-- 특정 게시물 삭제 처리 -->
	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>
	
	<!-- 특정 게시물 수정 처리 10.06 -->
	<update id="update">
		update tbl_board
		   set title = #{title},
		   	   content = #{content},
		   	   updatedate = sysdate
		 where bno = #{bno}   	   
	</update>
	
	<!-- 페이징 처리 적용 게시물 목록 10.07 -->
	<select id="getListWithPaging"
			resultType="org.bigdata.domain.BoardVO">
		<![CDATA[
			select bno,title,content,writer,regdate,updatedate
			  from (select /*+ INDEX_DESC(tbl_board pk_board) */
			               rownum rn,bno,title,content,writer,regdate,updatedate
			          from tbl_board
			         where rownum <= #{pageNum} * #{amount})
			 where rn > (#{pageNum} -1) * #{amount}         
		]]>
	</select>
	
</mapper>   






