body {
    margin: 0;
    height: 100vh;
}
.container {
    
}
header {
    background-color:dimgray;
    color:black
    padding: 1em;
    text-align: center;
    height: 70px;
}
    .headerClass{
        display: flex;
        flex-direction: row;
    }
    .header_item{
        width: 10%;
        height: 27%;
        margin:5px;
        text-align: center;
        background-color: white;

    }
section {
    display: flex;
}
/*article,aside,nav태그는 공통적으로 적용하는 css가 있으므로 묶어서 미리 css를 준다*/

/*article,aside,nav를 가로정렬 하기위해서 부모요소(section)에 flex를 준다*/
article,
aside,
main{
    text-align: center;
    height: calc(100vh - 140px);
   
    
}
article {
    flex: 1;
    background-color: blanchedalmond;
}
main { 
    flex: 3;
    background-color:white;
}
    .main_item_a{
        background-color: blue; 
        height: 31%;
    }
    .mia_a{
        background-color: white;
        list-style:none;
        float: left;
        margin-left: 1%;
        height: 100%;
        width: 20%;
    }
    .mia_aa{
        background-color: white;
        list-style:none;
        float: left;
        margin-top: 3%;
        margin-left: 1%;
        height: 100%;
        width: 20%;
    }
    .main_item_b{
        background-color:red;
        height: 31%;
    }
    .mib_a{
        background-color: white;
        width: 30%;
        height: 50px;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
        
    }
    .mib_aa{
        background-color: white;
        width: 30%;
        height: 20px;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .main_item_c{
        background-color:yellow;
        height: 31%;
    }
    
aside {
    flex: 1;
    background-color: blanchedalmond;
}
footer {
    background-color:dimgray;
    color: #fff;
    padding: 1em;
    text-align: center;
    height: 70px;
}
